/*overall page layout*/
body{
    background-color: aliceblue;
}

.card {
    border-radius: 10px;
    border: solid black;
    margin-top: 60px;
}

@media (max-width: 575px) {
    .changeSmallSize {
     width: 80%;
     margin-left: 10%;
    }
  }
