.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
  width: 56%;
}

.landing-image {
    background-image: url(Tidbits-Landing.png);
    /* background-repeat: no-repeat; */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-top: 0 !important;
}

.restaurant-image {
    background-image: url(blackangus2.png);
    /* background-repeat: no-repeat; */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 350px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-top: 0 !important;
    border-radius: 15px !important;
    /* opacity: 0.1; */
}

.input-width {
    width: 45% !important;
    margin-left: 2px;
    height: 38px;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    text-indent: 5px;
}

.slogan {
    font-family:Arial, Helvetica, sans-serif !important;
    font-weight:lighter;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px !important;
    line-height: 25px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.377);
}

.logo-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    height: 50px;
    /* padding-top: 60px; */
    opacity: 1 !important;
  }

.search-button {
    background-color: #F5BD1F;
    color: black;
    height:32px; 
    width:150px; 
    position:relative;
    border-style: solid;
    border: none;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.search-button-2 {
    background-color: #F5BD1F;
    color: black;
    height:42px; 
    width:250px; 
    position:relative;
    border-style: solid;
    border: none;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-button-3 {
    margin-top: 20px !important;
    background-color: #F5BD1F;
    color: black;
    height:30px; 
    width:30%; 
    position:relative;
    border-style: solid;
    border: none;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    width: 350px;
    height: 180px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

.container-large {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.small-image {
    width: 100%;
    border-radius: 5px;
    height: 110px;
    background-color: lightgrey;
}

.text-small {
    font-size: 15px;
}
.text-smaller {
    font-size: 10px;
}

.checked {
    background-color: #F5BD1F !important;
}

.unchecked {
    background-color: #E8E8E8 !important;
}

.margin-up {
    margin-top: -20px !important;
}

.background-grey {
    background-color: #ebebeb;
}

.box {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 550px;
    min-width: 500px;
    padding: 10px 22px 35px 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    padding-top: 30px !important;
    padding-left: 40px;
    padding-right: 40px;
}


.input-full {
    width: 100%;
}

.input-up {
    margin-top: -5px !important;
}

.red-text {
    color: red;
    /* font-size: 10px; */
    display: inline;
}

.background-beige {
    background-color: #f7f5f2;
}


.centered {
    margin: 0 auto;
    display: block;
}

.none {
    text-decoration: none !important;
    color: black;
}

.none:hover {
    color: gray;
}

.container-wide {
    margin: 0 auto;
    display: block;
    width: 900px;
    /* height: 500px; */
    padding-bottom: 50px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    padding-right: 30px;
    padding-left: 30px;
}

.search-bar-top {
    margin-left: -32px !important;
}

/* .search-bar-width {} */

.banner-hero {
    margin: 0 auto;
    width: 98%;
    height: 60%;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
}

.align-bottom {
    position: absolute;
    bottom: 0;
}

a
{
  color: #fff;
  text-decoration: none !important;
}

.crumb1 li
{
  display: inline-block;
  padding: 15px;
  background: #F5BD1F;
  transform: skew(-20deg);
  cursor: pointer;
  opacity: 0.8;
}

.crumb1 li:hover
{
  opacity: 1;
}

.crumb1 li a
{
  display: block;
  transform: skew(20deg);
}

.crumb-center {
  display: flex;
  justify-content: center;
}

.input-wide-x {
    height: 30px !important;
}

.margin-up-10 {
    margin-top: -10px;
}

.margin-up-20 {
    margin-top: -20px;
}

.ph-top {
    padding-top: 175px;
}

.square-star {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    /* background-color:#F5BD1F; */
    /* background-color: black; */
    display: inline-block;
    margin-right: 2px !important;
}

.star-align {
    padding-top: 3px;
    padding-left: 3px;

}

.white-star{
    color: white;
}

.margin-l-up {
    margin-top: -10px !important;
}

.margin-m-up {
    margin-top: -5px !important;
}
.margin-ml-up {
    margin-top: -15px !important;
}

.tag {
    background-color: #E3E3E3;
    padding: 6px 8px 6px 8px;
    border-radius: 2px;
}


.checked-yellow {
    background-color: #F5BD1F !important;
    padding: 5px 5px 5px 5px !important;
    border-radius: 2px;
}
.unchecked-grey {
    background-color: #E8E8E8 !important;
    padding: 5px 5px 5px 5px !important;
    border-radius: 2px;
}
.unchecked-grey-1 {
    background-color: #E8E8E8 !important;
}
.review-button {
    width: 180px;
    background-color:#F5BD1F;
    border-style: none;
    border-radius: 3px;
    color: white;
    height: 34px !important;
}

.waitlist-button {
    width: 180px;
    background-color:white;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: black;
    color: black;
    /* padding-top: 5px; */
    height: 34px !important;
}

.plh-box {
    /* margin: 0 auto; */
    width: 85%;
    height: 38%;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
}

.review-box {
    /* margin: 0 auto; */
    width: 85%;
    height: 30%;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    border-width: 1px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.review-box-user {
    /* margin: 0 auto; */
    width: 85%;
    height: 40%;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    border-width: 1px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.copy-address {
    width: 170px;
    background-color:white;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: black;
    color: black;
    /* padding-top: 5px; */
    height: 30px !important;
    margin-top: -30px !important;
}

.margin-left {
    margin-right: -30px !important;
}

.cal-box {
    /* margin: 0 auto; */
    width: 80%;
    height: 40%;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    margin-bottom: 40px;
    position: relative;
}

.wait-box {
    /* margin: 0 auto; */
    width: 80%;
    height: 30% !important;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    margin-bottom: 40px;
    position: relative;
}

.none-1 {
    text-decoration: none !important;
    color: black;
}

.none-1:hover {
    text-decoration: none !important;
    color: black;
}

.waitlist-button-g {
    width: 50%;
    background-color: #238823;
    border-radius: 3px;
    border-width: 1px;
    color: white;
    padding: 5px 5px 5px 5px;
    border-style: none;
    margin-bottom: 15px !important;
}

.select-full {
    width: 95% !important;
}

.post-review {
    background-color: #F5BD1F;
    color: black;
    height:32px; 
    width:110px; 
    /* position:relative; */
    border-style: solid;
    border: none;
    text-align: center;
}


.reserve-select {
    width: 70% !important;
}

.reserve-button{
    width: 50%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: black;
    padding: 5px 5px 5px 5px;
    /* border-style: none; */
    margin-bottom: 15px !important;
}

.nav-link:hover{
    color: white !important;
}

.signup-business {
    width: 25% !important;
}

.cancel {
    border-style: none;
    border-radius: 5px;
    background-color:rgb(173, 44, 44);
    color: white;
    padding: 3px 3px 3px 3px;
}

.next {
    border-style: none;
    border-radius: 5px;
    background-color:rgb(21, 156, 39);
    color: white;
    padding: 3px 7px 3px 7px;
}

.circleCheck {
    border-radius: 100% !important;
}

.input-width-2 {
    width: 80% !important;
    margin-left: 2px;
    height: 30px !important;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    text-indent: 5px;
    margin-bottom: 2px !important;
}

.review-box1 {
    width: 98%;
    margin: 0 auto;
    height: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}