<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Restaurant</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav>
            <div class="topnav">
                <div class="topnav-left">
                  <a href="./landing.html" class="topnav-bold"><img class="topnav-logo" src="Tidbits-Logo.png" alt="logo"/></a>
                </div>
                <div class="topnav-right">
                  <a class="topnav-items" href="./write-review-search.html">Write a Review</a>
                  <a class="topnav-items" href="./owner-signup.html">Add a Restaurant</a>
                  <a class="topnav-items" href="./signup.html">Signup</a>
                  <a class="topnav-items" href="./login.html">Login</a>
                  <a></a>
              </div>
        </nav>
    </div>
    <div>
        <h3 class="text-center mt-4 font-weight-bold">Add A Restaurant</h3>
        <div class="crumb-center">
            <ul class="crumb1">
                <li><a class="text-white" href="add-restaurant-1.html">Address</a></li>
                <li><a class="text-white" href="add-restaurant-2.html">Details</a></li>
                <li><a class="text-white" href="add-restaurant-3.html">Filters</a></li>
                <li><a class="text-white" href="add-restaurant-4.html">Account</a></li>
                <!-- <li><a class="text-white" href="#">Level 5</a></li> -->
              </ul><br>
        </div>
        <div class="container-wide mt-1">
            <label class="mt-4 font-weight-bold">Is your restaurant allergy-friendly?</label><p class="red-text">*</p><br/>
            <input type="text" class="input-full"/>
            <label class="mt-3 font-weight-bold">Is your restaurant disability-friendly?</label><p class="red-text">*</p><br/>
            <input type="text" class="input-full"/>
            <label class="mt-3 font-weight-bold">Does your restaurant follow COVID-19 safety protocols?</label><p class="red-text">*</p><br/>
            <input type="text" class="input-full"/>
            <label class="mt-3 font-weight-bold">Select categories relevant to your restaurant</label><p class="red-text">*</p><br/>
            <textarea style="width: 100%; height: 70px" placeholder="Tacos, American, Italian, vegan..."></textarea>

        </div>
    </div>
</body>