<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Restaurant</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav>
            <div class="topnav">
                <div class="topnav-left">
                  <a href="./landing.html" class="topnav-bold"><img class="topnav-logo" src="Tidbits-Logo.png" alt="logo"/></a>
                </div>
                <div class="topnav-right">
                  <a class="topnav-items" href="">Write a Review</a>
                  <a class="topnav-items" href="./owner-signup.html">Add a Restaurant</a>
                  <a class="topnav-items" href="./signup.html">Signup</a>
                  <a class="topnav-items" href="./login.html">Login</a>
                  <a></a>
              </div>
        </nav>
    </div>
    <div>
        <h3 class="text-center mt-4 font-weight-bold">Add A Restaurant</h3>
        <div class="crumb-center">
            <ul class="crumb1">
                <li><a class="text-white" href="add-restaurant-1.html">Address</a></li>
                <li><a class="text-white" href="add-restaurant-2.html">Details</a></li>
                <li><a class="text-white" href="add-restaurant-3.html">Filters</a></li>
                <li><a class="text-white" href="add-restaurant-4.html">Account</a></li>
                <!-- <li><a class="text-white" href="#">Level 5</a></li> -->
              </ul><br>
        </div>
        <div class="container-wide mt-1">
            <label class="font-weight-bold mt-4">Phone</label><p class="red-text">*</p><br/>
            <input type="text" class="input-full margin-up" placeholder="(000) 000-000"/>
            <label class="font-weight-bold mt-2">Website</label><p class="red-text">*</p><br/>
            <input type="text" class="input-full margin-up" placeholder="www.website.com"/>
            <label class="font-weight-bold mt-2">Hours</label><p class="red-text">*</p><br/>
            <p class="text-small margin-up-10">Please check the days that your restaurant will be open. Leave unchecked if restaurant is closed all day.</p>
        </div>
    </div>
</body>