<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tidbits</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav>
            <div class="topnav">
                <div class="topnav-left">
                  <!-- <a href="./landing.html" class="topnav-bold"><img class="topnav-logo" src="Tidbits-Logo.png" alt="logo"/></a> -->
                  <a class="topnav-items" href="">Write a Review</a>
                  <a class="topnav-items" href="./signup.html">Add a Restaurant</a>
                </div>
                <div class="topnav-right">
                  <a class="topnav-items" href="./signup.html">Signup</a>
                  <a class="topnav-items" href="./login.html">Login</a>
                  <a></a>
              </div>
        </nav>
    </div>

    <img class="logo-top"src="Tidbits-Logo.png"/>
    <p class="slogan">Find the best restaurants, write and read reviews, wait in line,
        and reserve a table, all in one place.</p>
</body>
</html>