<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Tidbits</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="./functional.js"></script>
</head>
<body>
    <div>
        <nav>
            <div class="topnav">
                <div class="topnav-left">
                  <a href="./landing.html" class="topnav-bold"><img class="topnav-logo" src="Tidbits-Logo.png" alt="logo"/></a>
                </div>
                <div class="topnav-right">
                  <a class="topnav-items" href="./write-review-search.html">Write a Review</a>
                  <a class="topnav-items" href="./owner-signup.html">Add a Restaurant</a>
                  <a class="topnav-items" href="./signup.html">Signup</a>
                  <a class="topnav-items" href="./login.html">Login</a>
                  <a></a>
              </div>
        </nav>
    </div>

    <div class="mt-5">
        <form action="">
            <div class="box background-grey">
                <h2 class="text-center">Login to Tidbits</h2>
                <p class="text-small text-center">Don't have an account? <a href="./signup.html" class="font-weight-bold">Sign up</a> here!</p>
                <label class="mt-2 font-weight-bold">Email</label><p class="red-text">*</p><br/>
                <input id="login" type="text" class="input-full input-up" placeholder="Email">
                <label class="mt-2 font-weight-bold">Password</label><p class="red-text">*</p><br/>
                <input type="password" class="input-full input-up" placeholder="Enter password">
                <button type="button" onclick="loginAdmin()" class="search-button mt-3 mb-0">Log in</button>
            </div>
        </form>
    </div>
</body>
</html>