<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant 1</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <nav>
            <div class="topnav">
                <div class="topnav-left">
                  <a href="./landing.html" class="topnav-bold"><img class="topnav-logo" src="Tidbits-Logo.png" alt="logo"/></a>
                  <div> 
                    <a><input class="text-small" placeholder="Find"></a>
                    <a class="search-bar-top search-bar-width"><input class="text-small" placeholder="Location"></a>
                    <a class="search-bar-top"><button type="submit" class="text-small"><i class="fa fa-search" aria-hidden="true"></i></button></a>
                  </div>
                </div>
                <div class="topnav-right">
                  <a class="topnav-items" href="">Write a Review</a>
                  <a class="topnav-items" href="./owner-signup.html">Add a Restaurant</a>
                  <a class="topnav-items" href="./signup.html">Signup</a>
                  <a class="topnav-items" href="./login.html">Login</a>
                  <a></a>
              </div>
        </nav>
    </div>
    <div class="banner-hero mt-2">
        <div class="d-flex align-items-start flex-column">
            <h1 class="font-weight-bold pl-1 mb-auto">Restaurant 1</h1>
        </div>
    </div>
</body>
</html>