

#flexbox{
    
    
    width:95%;
    margin: auto;
    border: 3px solid black;
    padding:10px;
    border-radius: 10px;
    align-content: center;
    margin-bottom: 20px;
}

#flexbox:hover {
    background-color: rgb(156, 158, 156);
    border: 3px solid gray;
    
}

#flexbox:hover #infoText {
    color: white;
    
}

#flexbox:hover #distanceIcon {
    color: white;
    
}

#flexbox:hover #fillerimage {
    border: 3px solid white;
    
}

#flexbox:hover #resultbuttons {
    border: 3px solid white;
    
}

#flexbox:hover #quickinfobar {
    color: white;
    
}

#filtersicon:hover {
    color: blue;
}


#outerfilterflexbox {
   
    width:95%;
    margin: auto;
  
    
}
#filterflexbox{
    
    
    width:99%;
    margin: auto;
    
    padding:10px;
    border-radius: 10px;
    align-content: center;
}

#quickinfoouterflexbox{
    
    
    width:300%;
    margin-left: -20px;
    margin-top: -10px;
   
    padding:10px;
    border-radius: 10px;
} 

#quickinfoinnerflexbox{
    
    
    
    
    
    padding:10px;
    border-radius: 10px;
} 

#innerflexbox{
    overflow-wrap: break-word;
    
    width:100%;
    margin: auto;
  
    padding:0px;
    border-radius: 10px;
    align-content: center;

    
}

#resultbuttons{
    width:160px;
    height: 50px;
    margin-top: 900px;
    
   margin: 0 auto;
   border: 3px solid black;
}

#fillerimage {
    border-radius: 10px;
    border: 3px solid black;
}

.html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    Padding: 0px;
    overflow-x: hidden;
  }

  #checkboxes{
    
    width: 2000px;
  }

  #numberclick1:hover {
    color: blue;
  }
  #numberclick2:hover {
    color: blue;
  }
  #numberclick3:hover {
    color: blue;
  }
  #numberclick4:hover {
    color: blue;
  }
  #numberclick5:hover {
    color: blue;
  }
  #numberclick6:hover {
    color: blue;
  }
  #chevronleft:hover {
    color: blue;
  }
  #chevronright:hover {
    color: blue;
  }

  .overlay{
    display: none;
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}